body {
  margin: 0;
  padding: 0;
  height: 3000px;
  padding-top: 0px;
}

.banner {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background: white;
  text-align: center;
  transition: transform 300ms;
}
.banner.hide {
  transform: translateY(-50px);
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }



.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/images/DSC_0863.jpeg');
  background-size: cover;
  background-position: center center;
}

bg-image2 {
  background-image: url('/images/DSC_0727.jpg');
  background-size: cover;
  background-position: center;
}

.button {
    text-decoration: none;
    background-color: white;
    color: black;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.container-fluid {
  margin: 0;
  padding: 0;
}

  

 
